<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwt.strugglebus.geotracker" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZHmzlfT3tL3H8SDypNxM2HZTM-Cswt5M" />

        <activity
            android:name=".View.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MyAccount"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name=".Model.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".Model.ResetPassword"
            android:label="@string/title_activity_reset_password" >
        </activity>
        <activity
            android:name=".View.TrajectoryChooser"
            android:label="@string/title_activity_trajectory_chooser" >
        </activity>
        <activity
            android:name=".View.ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>

        <service
            android:name=".Model.Tracker"
            android:exported="false" >
        </service>

        <activity
            android:name=".View.Trajectories"
            android:label="@string/title_activity_trajectories" >
        </activity>
    </application>

</manifest>
